/* You can add global styles to this file, and also import other style files */

$primary: #34a3d7	;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-primary {
  color: #fff;
}

.lp-s {
  padding-left: 20%;
}